{% for interface in interfaces %}
interface {{ interface.name }}
description {{ interface.description }}
{% if interface.name == 'G0/1' %}
switchport mode trunk
{% else %}
switchport access vlan {{ interface.vlan }}
switchport mode access
{% endif %}
{% endfor %}

